{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Project sound is created by Cristian Casas and Samuel Obregon (View source on <a href="https://github.com/SamuelObregon1/Project-Song-Vibe">Github</a>).</p>
  
  <a href="/dashapp/" class="dash-link">
    <span>Enter Site</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}