14 lines (14 sloc)  523 Bytes
   
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = false;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id');
    t.setAttribute('data-track-path');
    t.src = '';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>